@model KendoMatbaa.Models.AltUretimAsamalari

@{
    ViewBag.Title = "Düzenleme";
}

<h2>Düzenleme</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AltUretimAsamalari</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.AltUretimAsamalariId)

        <div class="form-group">
            @Html.LabelFor(model => model.AltUretimAsamalariAdi, new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AltUretimAsamalariAdi)
                @Html.ValidationMessageFor(model => model.AltUretimAsamalariAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UretimAsamalariId, new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UretimAsamalariId)
                @Html.ValidationMessageFor(model => model.UretimAsamalariId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Liste", "Index")
</div>
