@model KendoMatbaa.Models.IsEmriUploadDosyalari

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IsEmriUploadDosyalari</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DosyaAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosyaAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DosyaAciklamasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosyaAciklamasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DosyaKonumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosyaKonumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEmri.IsNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEmri.IsNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.IsEmriUploadDosyalariId }) |
    @Html.ActionLink("Liste", "Index")
</p>
