@model KendoMatbaa.Models.IsCinsi

@{
    ViewBag.Title = "Düzenleme";
}

<h2>Düzenleme</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>İş Cinsi</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IsCinsiId)

        <div class="form-group">
            @Html.LabelFor(model => model.CinsAdi, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CinsAdi)
                @Html.ValidationMessageFor(model => model.CinsAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Silindi, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Silindi)
                @Html.ValidationMessageFor(model => model.Silindi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Liste", "Index")
</div>
