@model KendoMatbaa.Models.IsCinsi

@{
    ViewBag.Title = "Detay";
}

<h2>Detay</h2>

<div>
    <h4>IsCinsi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CinsAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CinsAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Silindi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Silindi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.IsCinsiId }) |
    @Html.ActionLink("Liste", "Index")
</p>
