@model KendoMatbaa.Models.StokGruplari

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StokGruplari</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StokGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StokGrupAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Silindi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Silindi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.StokGruplariId }) |
    @Html.ActionLink("Liste", "Index")
</p>
