@using KendoMatbaa.App_Start
@using KendoMatbaa.Controllers
@model IEnumerable<KendoMatbaa.Models.UretimYetkilendirme>

@{
    Layout = "~/Views/Shared/Tab.cshtml";
}


@(Html.Kendo().Window()
    .Name("windowYetki")
    .Title("Üretim Aşamları İçin Yetki Ekleme")
               .LoadContentFrom("Create", "UretimYetkilendirme", new { SeciliIsEmriId = Request["IsEmriId"] })
    .Draggable()
    .Resizable()
    .Width(800)
    .Visible(false)
    .Modal(true)
    .Iframe(false)
    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
)

<span id="btnYetkiEkle" class="k-button">Yetki eklemek için tıklayın...</span>

<script>
       $(document).ready(function () {
           $("#btnYetkiEkle").bind("click", function () {
               $("#windowYetki").data("kendoWindow").open();
        });
    });
</script>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.AltUretimAsamalari.AltUretimAsamalariAdi)*@
            Alt Üretim Aşaması
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsEmri.IsNo)*@
            İş No
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Personel.PersonelAdiSoyadi)*@
            Personel
        </th>
        <th>Açıklama</th>
        <th>İşe Başlama</th>
        <th>İş Bitişi</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AltUretimAsamalari.AltUretimAsamalariAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEmri.IsNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Personel.PersonelAdiSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aciklama)
            </td>
            <td>
                @{
        Query q11 = new Query();
        @Html.Raw(q11.UretimYetkilendirmeBilgisindenUretimBilgisiDon(item.UretimYetkilendirmeId).UretimeBaslama.ToString());
                }


            </td>
            <td>

                @{
        Query q12 = new Query();
        @Html.Raw(q12.UretimYetkilendirmeBilgisindenUretimBilgisiDon(item.UretimYetkilendirmeId).UretimiSonlandirma.ToString());
                }


            </td>
            <td>
                @Html.ActionLink("Detay", "Details", new { id = item.UretimYetkilendirmeId }) |

                @*@Html.ActionLink("Düzenle", "Edit", new { id = item.UretimYetkilendirmeId }) |
                @Html.ActionLink("Sil", "Delete", new { id = item.UretimYetkilendirmeId })*@



                @{
        Query q = new Query();
        BaseController bCnt = new BaseController();
        //if (BaseController.User.KullaniciUN == q.UretimYetkilendirmeIddenOYetkilendirmeninPersonelGuidiniDon(item.UretimYetkilendirmeId) || bCnt.PersonelBelirliBirRoleSahipMi("MatbaaSef") || bCnt.PersonelBelirliBirRoleSahipMi("MatbaaAdmin"))
        if (bCnt.PersonelBelirliBirRoleSahipMi("MatbaaSef") || bCnt.PersonelBelirliBirRoleSahipMi("MatbaaAdmin"))
        {
            @Html.ActionLink("Düzenle", "Edit", new { id = item.UretimYetkilendirmeId })
                    @Html.Raw("|")
                    @Html.ActionLink("Sil", "Delete", new { id = item.UretimYetkilendirmeId })

        }
        else
        {
            <text>Düzenle |</text>
                    <text>Sil</text>
        }
        if (BaseController.User.KullaniciUN == q.UretimYetkilendirmeIddenOYetkilendirmeninPersonelGuidiniDon(item.UretimYetkilendirmeId) && !q.IseBaslanmisMi(item.UretimYetkilendirmeId))
        {
            @*<text>| İşe başlıyorum</text>*@
            //var   uretim=    q.UretimYetkilendirmeBilgisindenUretimBilgisiDon(item.UretimYetkilendirmeId)
            @*@Html.ActionLink("İşe Başlıyorum", "IseSimdiBasladim", new { UretimId = uretim.UretimId })*@
    <text>| </text>
                    @Html.ActionLink("İşe Başlıyorum", "IseSimdiBasladim", new { UretimYetkilendirmeId =item.UretimYetkilendirmeId })

        }
}




            </td>
        </tr>
    }

</table>