@model KendoMatbaa.Models.IsEmriFilmGiderleri

@{
    ViewBag.Title = "Düzenleme";
}

<h2>Düzenleme</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>IsEmriFilmGiderleri</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IsEmriFilmGiderleriId)

        <div class="form-group">
            @Html.LabelFor(model => model.IsEmriId, "IsEmriId", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("IsEmriId", String.Empty)
                @Html.ValidationMessageFor(model => model.IsEmriId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IcFilm, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IcFilm)
                @Html.ValidationMessageFor(model => model.IcFilm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kapakfilm, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kapakfilm)
                @Html.ValidationMessageFor(model => model.Kapakfilm)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AltGruplarId, "AltGruplarId", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownList("AltGruplarId", String.Empty)
                @Html.ValidationMessageFor(model => model.AltGruplarId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Silindi, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Silindi)
                @Html.ValidationMessageFor(model => model.Silindi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Liste", "Index")
</div>
