@model IEnumerable<KendoMatbaa.Models.IsEmriFilmGiderleri>

@{
    ViewBag.Title = "Index";
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Yeni", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IcFilm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kapakfilm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Silindi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AltGruplar.AltGrupAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmri.IsNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IcFilm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kapakfilm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Silindi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AltGruplar.AltGrupAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmri.IsNo)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.IsEmriFilmGiderleriId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.IsEmriFilmGiderleriId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.IsEmriFilmGiderleriId })
        </td>
    </tr>
}

</table>
