@model IEnumerable<KendoMatbaa.Models.Birim>

@{
    ViewBag.Title = "Liste";
}

<h2>Birimler</h2>

<p>
    @Html.ActionLink("Yeni", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirimAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirimKodu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BirimAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirimKodu)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.BirimId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.BirimId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.BirimId })
        </td>
    </tr>
}

</table>
