@model KendoMatbaa.Models.Birim

@{
    ViewBag.Title = "Oluştur";
}

<h2>Oluştur</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Birim</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.BirimAdi,"Birim Adı", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirimAdi)
                @Html.ValidationMessageFor(model => model.BirimAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirimKodu,"Birim Kodu", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BirimKodu)
                @Html.ValidationMessageFor(model => model.BirimKodu)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>
